*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    max-height: 1057px;
}

.navbar{
    display: flex;
    
    color: #EFD1A8;
}

.navbar-logo{
    position: absolute;
width: 90px;
height: 76px;
left: 29px;
top: 17px;

background: url(pixlr-bg-result.png);

}

#title span{
    position: absolute;
    text-decoration: none;
width: 121px;
height: 254px;
left: 141px;
top: 43px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 59px;
color: #E29631;

}

#title1 {
    position: absolute;
    text-decoration: none;
width: 121px;
height: 254px;
left: 300px;
top: 43px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 59px;
color: #000000;

}

#link{
    position: absolute;
    text-decoration: none;
    width: 423px;
    height: 35px;
    left: 509px;
    top: 45px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    
    color: #000000;

}


.menu-navbar{
    position: absolute;
    width: 400px;
    height: 90px;
    left: 44px;
    top: 23px;
    background: #F1B25E;
    border-radius: 21px;
}



.sign-up{
    position: absolute;
width: 274px;
height: 93px;
left: 1270px;
top: 75px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
color: #000000;

}



.dots-1{
    position: absolute;
width: 150px;
height: 205px;
left: 0.54px;
top: 175px;
transform: rotate(360deg);
}

.background-1{
    position: absolute;
    color: #EFD1A8;
    width: 1050px;
    height: 1050px;
}

.container-1 h1 {
    position: absolute;
width: 601px;
height: 412px;
left: 85px;
top: 219px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 88px;
line-height: 103px;

color: #000000;

}

.container-1 p {
    position: absolute;
width: 645px;
height: 120px;
left: 85px;
top: 661px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #000000;

}

#order-button{
    position: absolute;
    width: 150px;
    height: 59px;
    right: 0px;
    top: 38px;
    
    background: #F1B25E;
    border-radius: 143px;
}

#order-text{
    position: absolute;
width: 169px;
height: 30px;
left: 117px;
top: 835px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #000000;

}

#woman-image{
    position: absolute;
width: 454px;
height: 680px;
right: 0px;
top: 220px;
}

#woman-rectangle{
    position: absolute;
    width: 676px;
    height: 681px;
    left: 754px;
    top: 219px;
    background: #F1B25E;
    border-radius: 319.5px;
}



#man-image{
    position: absolute;
width: 638px;
height: 938px;
left: 0px;
top: 963px;
z-index: 1;

}


#man-rectangle{
    position: absolute;
    width: 761px;
    height: 737px;
    left: -120px;
    top: 1260px; 
    background: rgba(241, 178, 94, 0.52);
    border-radius: 380.5px;
    z-index: 2;
}




#background-2{
    position: absolute;
width: 1427px;
height: 938px;
left: 3px;
top: 1070px;
}

.container-2 h1{
    position: absolute;
width: 1249px;
height: 708px;
left: 60px;
top: 1123px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 91px;
text-align: right;
letter-spacing: -0.02em;

color: #000000;
}

.container-2 p{
    position: absolute;
    width: 555px;
    height: 176px;
    left: 753px;
    top: 1437px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 33.7884px;
    line-height: 44px;
    text-align: right;
    color: #000000;
}

#more-details{
    position: absolute;
    text-decoration: none;
width: 170px;
height: 36px;
left: 1148px;
top: 1655px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 36px;

color: #000000;

}

#details-card{
    position: absolute;
width: 170px;
height: 63px;
left: 1128px;
top: 1640px;

background: #F1B25E;
border-radius: 50px;
}

.ellipse-orange{
    position: absolute;
width: 116px;
height: 116px;
left: 799px;
top: 1650px;
border-radius: 50%;
background: #FF9F20;
}

.ellipse-brown{
    position: absolute;
width: 85px;
height: 78px;
left: 736px;
top: 1890px;
border-radius: 50%;
background: #C89448;
}

.ellipse-cream{
    position: absolute;
width: 40px;
height: 40px;
left: 1088px;
top: 1850px;
border-radius: 50%;
background: #EFD1A8;
}

#background-3{
    position: absolute;
width: 1440px;
height: 914px;
left: 0px;
top: 1995px;
}

.container-3 > h2{
    position: absolute;
    width: 679px;
    height: 76px;
    left: 358px;
    top: 2030px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 58.5px;
    line-height: 76px;
    letter-spacing: -0.02em;
    
    color: #000000;
}

.container-3 p{
    position: absolute;
width: 717px;
height: 62px;
left: 300px;
top: 2125px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;

color: #000000;
}

#comment-card-1{
    position: absolute;
width: 356px;
height: 214px;
left: 23px;
top: 2308px;

}


#comment-card-2{
    position: absolute;
width: 356px;
height: 214px;
left: 970px;
top: 2310px;

}

#big-comment-card{
    position: absolute;
width: 548px;
height: 330px;
left: 390px;
top: 2250px;
}

#comment-button{
    position: absolute;
width: 200px;
height: 70px;
left: 560px;
top: 2610px;

background: #F1B25E;
border-radius: 144px;
}

#view-more{
position: absolute;
text-decoration: none;
width: 144px;
height: 38px;
left: 590px;
top: 2625px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 29px;
line-height: 38px;
/* identical to box height */

text-align: center;

color: #000000;
}

#dots-2{
    position: absolute;
left: 78.86%;
right: 0;
top: 2713px;
bottom: 0px;
transform: rotateY(90);
}